<h1 class="text-2xl font-bold mb-6">Admin Dashboard</h1>
<ul>
  <li><%= link_to 'Notifications', admin_notifications_path, class: "text-operately-blue hover:text-operately-dark-blue underline" %></li>
  <li><%= link_to 'Users', admin_users_path, class: "text-operately-blue hover:text-operately-dark-blue underline" %></li>
  <li><%= link_to 'Comments', admin_comments_path, class: "text-operately-blue hover:text-operately-dark-blue underline" %></li>
</ul>
