<h2 class="text-xl font-semibold mb-6">Upvotes</h2>

<table class="min-w-full divide-y divide-gray-200 shadow-sm rounded-lg overflow-hidden">
  <thead class="bg-gray-50">
    <tr>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">KPI</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Upvoted At</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @kpi_upvotes.each do |upvote| %>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap"><%= upvote.kpi.name %></td>
        <td class="px-6 py-4 whitespace-nowrap"><%= upvote.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
