<p>Hello,</p>
<p>
  Just wanted to let you know that we've got you on the list! You'll be the first to know when we add new KPIs to the <strong><%= @notification.category.name %></strong> category over at <a href="https://kpiexamples.operately.com" style="color: #007BFF;">KPI Examples website</a>.
</p>
<p>
  By the way, we're curious – what sparked your interest? It'd mean a lot if you could hit reply and share your thoughts. Yes, this is an automated email, but we read and cherish every single reply.
</p>
<p>
  Thanks!<br>
  The <a href="https://operately.com">Operately</a> team
</p>
