<% set_page_title("About") -%>

<% content_for :head do -%>
  <%= meta_description("Learn about KPI Examples, an open-source initiative dedicated to providing a clear, useful database of business KPIs and metrics. Discover our mission and how we aim to empower every startup.") %>
<% end -%>

<h1 class="text-4xl font-bold mt-2">About KPI Examples</h1>

<div class="mt-4">
  <p class="mb-4">Ever tried to find a solid, no-nonsense database of business KPIs and metrics online? It's not easy. Despite a sea of information, much of it is more focused on selling you stuff than on providing clear, useful insights.</p>

  <p class="mb-4">At <a href="https://operately.com" class="text-operately-blue hover:text-operately-dark-blue underline">Operately</a>, we recognized this as a problem in need for a solution, and decided to build this intentionally calm, minimal website. Our mission revolves around empowering every startup to execute at the highest level, and aligning work with the right KPIs is a big part of that.</p>

  <p class="mb-4">We want this information to be around for a long time. That's why this website is <a href="https://github.com/operately/kpiexamples" class="text-operately-blue hover:text-operately-dark-blue underline">open-source</a>, and the KPI database itself is a public Google Sheet (link pending), welcoming anyone who wants to <a href="/contribute" class="text-operately-blue hover:text-operately-dark-blue underline">contribute</a>.</p>

  <h2 class="text-2xl font-semibold mt-8 mb-2">Get in touch</h2>

  <p class="mb-4">Thank you for exploring this site and taking the time to understand what we're trying to achieve. Got a question? Want to chat about KPIs, business operations, or just about anything else? Drop us a line on:

    <ul class="list-disc list-inside mt-2 mb-2">
      <li>Email: hello at operately dot com</li>
      <li>Twitter: <a href="https://twitter.com/operately" rel="noopener noreferrer" class="text-operately-blue underline hover:text-operately-dark-blue">@operately</a></li>
      <li><a href="https://discord.gg/CU6kgx8hkX" target="_blank" rel="noopener noreferrer" class="text-operately-blue hover:text-operately-dark-blue underline">Discord</a></li>
    </ul>
  </p>

</div>
