<h1 class="text-4xl font-bold mt-2">The origin of KPI Examples</h1>

<div class="mt-4">
  <p class="mb-4">Ever tried to find a solid, no-nonsense database of business KPIs and metrics online? It's not easy. Despite a sea of information, much of it is more focused on scoring SEO points and selling you stuff than on providing clear, useful insights.</p>

  <p class="mb-4">At <a href="https://operately.com" class="text-operately-blue underline">Operately</a>, we recognized this as a problem in need for a solution, and decided to build this intentionally minimal website. Our mission revolves around empowering every startup to execute at the highest level, and aligning work with the right KPIs is a big part of that.</p>

  <p class="mb-4">Businesses have been setting up metrics to track their progress for a long time. But when you're new on the scene, looking for a good starting point, all you usually find are fluffy listicles.</p>

  <p class="mb-4">KPI Examples is a calm antidote to that. Our goal is to help you choose your KPIs wisely and fast-track your projects to success.</p>

  <p class="mb-4">We want this information to be around for a long time. That's why this website is <a href="https://github.com/operately/kpiexamples" class="text-operately-blue underline">open-source</a>, and the KPI database itself is a public Google Sheet (link pending), welcoming anyone who wants to <a href="/contribute" class="text-operately-blue underline">contribute</a>.</p>

  <p class="mb-4">Thank you for exploring this site and taking the time to understand what we're trying to achieve. Got a question? Want to chat about KPIs, business operations, or just about anything else? Drop us a line on:

    <ul class="list-disc list-inside">
      <li>Email: hello at operately dot com</li>
      <li>Twitter: <a href="https://twitter.com/operately" rel="noopener noreferrer" class="text-operately-blue underline">@operately</a></li>
      <li><a href="https://discord.gg/CU6kgx8hkX" target="_blank" rel="noopener noreferrer" class="text-operately-blue underline">Discord</a></li>
    </ul>
  </p>

</div>
