<% set_page_title("Code of Conduct") -%>

<% content_for :head do -%>
  <%= meta_description("This Code of Conduct aims to ensure that our community remains welcoming, respectful, and inclusive for everyone.") %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@operately">
  <meta name="twitter:title" content="KPI Examples - Code of Conduct">
  <meta name="og:description" content="<%= "This Code of Conduct aims to ensure that our community remains welcoming, respectful, and inclusive for everyone." %>">
  <meta name="twitter:image" content="<%= image_url("summary-card.jpg") %>">
  <meta name="og:image" content="<%= image_url("summary-card.jpg") %>">
<% end -%>

<h1 class="text-3xl font-bold mt-2">Code of Conduct</h1>
<p class="font-xl font-medium italic mt-2">Last updated Oct 5, 2023</p>

<div class="mt-4">
  <p class="mb-4">Welcome to KPI Examples. This Code of Conduct aims to ensure that our community remains welcoming, respectful, and inclusive for everyone.</p>

  <ol class="list-decimal list-inside mt-2 mb-4">
    <li class="mb-2"><strong>Respect Each Other:</strong> Disagreements are okay, but disrespect and personal attacks are not. Treat everyone with kindness.</li>
    <li class="mb-2"><strong>Inclusivity:</strong> Discrimination or harassment based on race, gender, sexuality, religion, age, disability, or any other protected status is unacceptable.</li>
    <li class="mb-2"><strong>Safe Environment:</strong> Do not post violent, graphic, or adult content. Keep discussions safe for everyone.</li>
    <li class="mb-2"><strong>No Spamming:</strong> Refrain from posting unsolicited promotions or repetitive content.</li>
    <li class="mb-2"><strong>Protect Privacy:</strong> Don't post yours or others' personal information. Respect everyone's privacy.</li>
  </ol>

  <p class="mb-4">Violations of this code may result in warnings, post deletions, or bans from the website. The site administrators have the final decision on any actions taken.</p>
</div>
