<% set_page_title("Contribute") -%>

<% content_for :head do -%>
  <%= meta_description("Contribute to our open-source KPI database. Help us grow our resource by adding new KPIs, improving existing ones, or sharing your insights. Join the KPI Examples community today.") %>
<% end -%>

<h1 class="text-4xl font-bold mt-2">Contribute to KPI Examples</h1>

<div class="mt-4">
  <p class="mb-4">We encourage all users of KPI Examples to share their insights, knowledge, and experiences. There are several ways you can contribute:</p>

  <h2 class="text-xl font-semibold mb-2">1. Contribute to the KPI Database</h2>

  <p class="mb-4">The KPI database is a public, growing resource designed to help businesses track their progress and measure success. We aim to cover a broad spectrum of industries and functions, and your expertise can make it even better. Here's how you can help:</p>

  <h3 class="text-lg mb-2">1.1 Provide feedback on existing KPIs</h3>

  <p class="mb-4">If you've got suggestions on how to improve the descriptions, examples, or any other aspects of our existing KPIs, we'd love to hear from you. You can submit your feedback directly on our public Google Sheet (link pending).</p>

  <h3 class="text-lg mb-2">1.2 Propose New KPIs</h3>
  <p class="mb-4">Do you have an idea for a KPI that isn't already included in our database? We're always looking to expand our scope. Submit your proposals on our public Google Sheet (link pending) and help us grow this resource.</p>

  <p class="mb-4">For both of these actions, please follow the instructions listed in the Google Sheet (link pending).</p>

  <h2 class="text-xl font-semibold mb-2">2. Contribute to this website</h2>
  <p class="mb-4">This website is a hub for individuals and businesses seeking to improve their performance. If you have suggestions for improvements or have noticed any issues, we welcome your input. You can contribute by submitting an issue on our public <a href="https://github.com/operately/kpiexamples" class="text-operately-blue underline">Github repository</a>.</p>

  <p class="mb-4">No matter how big or small, your contributions make a difference. Your insights and experiences can help others navigate their path to success. We're excited to see what we can build together!</p>

</div>
