<div>
  <h1 class="font-bold text-4xl">KPI Examples</h1>
  <p>Explore <%= Kpi.count %> Key Performance Indicators (KPIs) and metrics</p>
  <ul>
    <% Kpi.last(10).each do |kpi| -%>
      <li><%= link_to(kpi.name, category_kpi_path(kpi.category, kpi), class: "text-sky-600 underline") %></li>
    <% end -%>
  </ul>
</div>
