<footer class="bg-white p-4 shadow mt-10 absolute bottom-0 left-0 right-0">
  <div class="container mx-auto text-center">
    <div class="mt-3">
      <a href="/about" class="text-gray-600 no-underline mx-3">About</a>
      <a href="https://github.com/operately/kpiexamples" target="_blank" rel="noopener noreferrer" class="text-gray-600 no-underline mx-3">Source code</a>
      <a href="https://discord.gg/CU6kgx8hkX" target="_blank" rel="noopener noreferrer" class="text-gray-600 no-underline mx-3">Discord</a>
    </div>
  </div>
</footer>
