<footer class="bg-white p-4 shadow mt-10 flex text-center">
  <div class="container mx-auto">
    <div class="text-sm flex flex-col md:flex-row justify-center text-center mt-3">
      <a href="https://operately.com" class="text-gray-600 no-underline mx-3 sm:pb-4">Created by Operately</a> <span class="text-gray-300 md:block hidden">|</span>
      <a href="/about" class="text-gray-600 no-underline mx-3 sm:pb-4">About</a>
      <a href="https://github.com/operately/kpiexamples" target="_blank" rel="noopener noreferrer" class="text-gray-600 no-underline mx-3">Source code</a>
    </div>
  </div>
</footer>
