<div class="md:hidden" data-controller="hamburger">
  <button class="text-gray-800 focus:outline-none focus:ring ml-4" id="menu-button" data-action="click->hamburger#toggle" aria-label="Navigation Menu">
    <!-- Hamburger icon -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <div class="hidden absolute right-0 mt-8 w-48 py-2 bg-white rounded-lg shadow-xl" data-hamburger-target="menu">
    <a href="/contribute" class="text-gray-800 no-underline block px-4 py-2">Contribute</a>
    <a href="/about" class="text-gray-800 no-underline block px-4 py-2">About</a>
  </div>
</div>
