<header class="bg-white p-4 shadow">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <%= render "layouts/application/logo" %>
      <%= render "layouts/application/search" %>
    </div>

    <div class="">
      <a href="/contribute" class="text-gray-800 no-underline mx-3 pr-2">Contribute</a>
      <a href="/users/sign_in" class="text-gray-800 no-underline">Sign In</a>
    </div>
  </div>
</header>
