<header class="bg-white p-4 shadow">
  <div class="flex justify-between items-center">

    <div class="flex items-center space-x-4 md:space-x-0">
      <%= render "layouts/application/logo" %>
      <%= render "layouts/application/search" %>
    </div>

    <%= render "layouts/application/hamburger" %>

    <div class="hidden md:block">
      <a href="/contribute" class="text-gray-800 no-underline mx-3 pr-2">Contribute</a>
      <a href="/about" class="text-gray-800 no-underline">About</a>
    </div>
  </div>
</header>
