<header class="bg-white p-4 shadow">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a href="/" class="text-xl font-semibold text-gray-800 no-underline">KPI Examples</a>
      <p class="text-xs text-gray-500">by <a href="https://operately.com">Operately</a></p>
    </div>

    <div class="relative">
      <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM8 9a2 2 0 114 0 2 2 0 01-4 0z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 4 4 0 011 7.723V18z" clip-rule="evenodd" />
        </svg>
      </span>
      <input class="pl-10 pr-4 w-96 rounded-lg border-2 border-gray-200 focus:border-blue-500 focus:outline-none py-2" type="text" placeholder="Search KPIs by name or description">
    </div>

    <div>
      <a href="/contribute" class="text-gray-800 no-underline mx-3">Contribute</a>
      <a href="/signin" class="text-gray-800 no-underline">Sign In</a>
    </div>
  </div>
</header>
