<div class="w-36 md:w-40 lg:w-44 xl:w-48 flex break-keep">
  <div>
    <a href="/" class="text-lg md:text-xl font-semibold text-gray-800 no-underline whitespace-nowrap text-operately-blue hover:text-operately-dark-blue">KPI Examples</a>
  </div>
</div>
