<div class="w-36 md:w-40 lg:w-44 xl:w-48 flex break-keep">
  <div>
    <a href="/" class="text-lg md:text-xl font-semibold text-gray-800 no-underline whitespace-nowrap text-operately-blue hover:text-operately-dark-blue flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" class="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3185FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="20" x2="12" y2="10"></line><line x1="18" y1="20" x2="18" y2="4"></line><line x1="6" y1="20" x2="6" y2="16"></line></svg>
      <span class="pl-1">KPI Examples</span>
    </a>
  </div>
</div>
