<% set_page_title("#{@category.name} KPI Examples", full: true) -%>

<% content_for :head do -%>
  <%= meta_description("Discover a comprehensive list of #{@category.name} KPIs to measure and improve your performance. Find detailed definitions, formulas, and examples of key #{@category.name} performance indicators to guide your decision-making process.") %>
<% end -%>

<h1 class="text-4xl font-bold mt-2"><%= @category.name %></h1>

<div class="mt-4">
  <ul>
    <% @kpis.each do |kpi| -%>
      <li><%= link_to(kpi.name, category_kpi_path(kpi.category, kpi), class: "text-operately-blue underline") %></li>
    <% end -%>
  </ul>
</div>
