<div class="flex flex-row items-center space-x-2">
  <a href="/" class="text-operately-blue underline">KPI Examples</a>
  <span class="text-gray-400">></span>
  <p class="text-gray-600">Categories</p>
</div>

<h1 class="text-4xl font-bold mt-2"><%= @category.name %></h1>

<div class="mt-4">
  <ul>
    <% @kpis.each do |kpi| -%>
      <li><%= link_to(kpi.name, category_kpi_path(kpi.category, kpi), class: "text-operately-blue underline") %></li>
    <% end -%>
  </ul>
</div>
