<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body style="font-family: Arial, sans-serif; color: #333; padding: 20px; line-height: 1.6;">
    <%= yield %>
  </body>
</html>
